@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')

$white: #e0d2cf
$orange: #ee5331
$text-black: #545252
$gray: #b2b2b2
$transparent: #ffffff00

$wallpaper: url('../images/coffee-wallpaper.jpg')

@mixin flex-it($justify-content, $align-items)
  align-items: $align-items
  display: flex
  justify-content: $justify-content

html
  *
    box-sizing: border-box
    color: $text-black
    font-family: 'Roboto', sans-serif;
    margin: 0
    padding: 0
    outline: 0 !important

a
  color: $white
  text-decoration: none

  &:hover
    color: $white
    text-decoration: 0

.slick-slider
  width: 90%
  margin: 0 auto

  img
    width: 50%
    margin: 0 auto

  h2
    margin: 0 auto
    text-align: center

.loading
  width: 100%
  +flex-it(center, center)

.flash
  left: 50%
  margin: 0 auto
  position: absolute
  text-align: center
  top: 50px
  div
    margin: 0 auto
    text-align: center
    color: #ff0000

#root
  min-height: 100vh

.outside
  +flex-it(space-around, center)
  background-image: $wallpaper
  background-color: $white
  background-blend-mode: overlay
  background-position-y: 100%
  background-size: cover
  flex-direction: column
  min-height: 100vh

  .title
    margin-top: 10%
    padding-left: 50px
    padding-right: 50px
    text-align: center
    h1
      text-align: center
      margin-bottom: 15px

  form
    +flex-it(space-between, center)
    flex-direction: column

  input
    background-color: $transparent
    border-radius: 20px
    border: 2px $gray solid
    color: $orange
    padding: 5px
    margin-bottom: 10px
    outline: 0
    text-align: center
    &:focus
      border: 2px $orange solid

  button
    background-color: $orange
    border: 0
    border-radius: 20px
    color: $white
    font-weight: bold
    padding: 5px
    padding-left: 15px
    padding-right: 15px

.bm-item-list
  .menu-item
    color: $text-black
    outline: none
    margin-top: 20px
    margin-bottom: 20px

  a
    color: $text-black
    text-decoration: none

    &:hover
      color: $text-black
      text-decoration: 0

  button
    background-color: $transparent
    border: none
    margin-top: auto

  .user-image
    +flex-it(center, center)

    img
      margin: 25px auto
      width: 70%

  .user-email
    margin-bottom: 30px
    text-align: center

